@import '/src/index.scss';

.home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../assets/Vancouver.jpg');
  background-size: cover;
  background-position: top right 30%;
  color: $dark-brackets;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 1.25rem;
    .secondary {
      color: $dark-component;
    }
  }
}

.subtitle {
  font-size: 30px;
}